<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>footer</title>
<link href="{{ url_for('static', filename='css/css_file.css') }}" rel="stylesheet">
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="footer-address">
                <p>{{ translations.address }}</p>
                <p><a href="mailto:virtualphy.com@gmail.com">virtualphy.com@gmail.com</a></p>
            </div>
            <div class="footer-social">
                <div class="social-media"> 
                    <a href="https://github.com/LeEinsteinZhang" target="_blank"> <img src="{{ url_for('static', filename='icons/github_w.png') }}" alt="GitHub"> </a> 
                    <a href="https://www.linkedin.com/in/uw-le-zhang" target="_blank"> <img src="{{ url_for('static', filename='icons/linkedin_w.png') }}" alt="LinkedIn"> </a> 
                </div>
                <p>&copy; 2024 {{ translations.company }}. {{ translations.rights }}</p>
            </div>
        </div>
    </footer>
</body>
</html>
