<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <title>{{ translations.title }}</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="{{ translations.description }}" name="description">
    <meta name="google" content="notranslate" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/css_file.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="menu">
                <a href="/{{ lang }}/" class="logo"><img src="{{ url_for('static', filename='icons/logo.png') }}" alt="Logo"></a>
                <ul>
                    <li><a href="/{{ lang }}/">{{ translations.home }}</a></li>
                    <li><a href="/{{ lang }}/#about">{{ translations.about }}</a></li>
                    <li><a href="/{{ lang }}/#projects">{{ translations.projects }}</a></li>
                    <li><a href="/{{ lang }}/career/">{{ translations.career }}</a></li>
                </ul>
                <div class="row-section">
                    <div class="language-switcher"> <a href="/{{ 'zh' if lang == 'en' else 'en' }}/" id="{{ 'zh' if lang == 'en' else 'en' }}">{{ '中文' if lang == 'en' else 'EN' }}</a> </div>
                    <div class="dropdown-menu">
                        <button class="dropdown-btn">&#9776;</button>
                        <div class="dropdown-content">
                            <a href="/{{ lang }}/">{{ translations.home }}</a>
                            <a href="/{{ lang }}/#about">{{ translations.about }}</a>
                            <a href="/{{ lang }}/#projects">{{ translations.projects }}</a>
                            <a href="/{{ lang }}/career/">{{ translations.career }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="color-bar">
            <div class="color-block vitrtualphy"></div>
        </div>
    </header>

    <div id="home" class="section-offset">
        <div class="slide-container">
            <div class="background-slide">
                <img src="{{ url_for('static', filename='images/background_0.jpg') }}" alt="Background">
            </div>
            <div class="background-slide">
                <img src="{{ url_for('static', filename='images/background_1.jpg') }}" alt="Background">
            </div>
            <div class="background-slide">
                <img src="{{ url_for('static', filename='images/background_2.jpg') }}" alt="Background">
            </div>
            <div class="overlay">
                <div class="title white">
                    <p>{{ translations.title }}</p>
                </div>
                <div class="welcome">
                    <p>{{ translations.welcome_message }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="main-page">
        <div class="content">
            <div id="about" class="title black section-offset">
                <p>{{ translations.about_us }}</p>
            </div>
            <p>{{ translations.about_us_content }}</p>
            <div class="staff">
                {% for member in translations.staff %}
                <div class="staff-card">
                    <div class="staff-descriptions">
                        <h2>{{ member.name }}</h2>
                        <p>{{ member.description }}</p>
                        <h3>Job Title</h3>
                        {% for title in member.titles %}
                        <p align="left">- {{ title }}</p>
                        {% endfor %}
                        <p></p>
                        <a class="transparent-button" href="{{ member.link }}" target="_blank">Discover</a>
                    </div>
                    <div class="staff-img">
                        <img src="{{ url_for('static', filename=member.image) }}">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="projects" class="title black section-offset">
                <p>{{ translations.projects }}</p>
            </div>
            {% for project in translations.projects_section %}
            <div class="exp-section">
                <div class="exp-text">
                    <p class="exp-name">{{ project.name }}</p>
                    <p class="exp-type">{{ project.type }}</p>
                    <p class="exp-description">{{ project.description }}</p>
                    <p></p>
                    <a class="transparent-button" href="{{ project.link }}" target="_blank">Discover</a>
                </div>
                <div class="exp-img">
                    <img src="{{ url_for('static', filename=project.image) }}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropdown_menu.js') }}"></script>
</body>
</html>
