<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>{{ translations.title }}</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="{{ translations.description }}" name="description">
    <meta name="google" content="notranslate" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/css_file.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/dropdown_menu.js') }}"></script>
</head>

<body>
<header>
  <nav>
    <div class="menu"> <a href="/{{ lang }}/" class="logo"><img src="{{ url_for('static', filename='icons/logo.png') }}" alt="Logo"></a>
      <ul>
        <li><a href="/{{ lang }}/">{{ translations.home }}</a></li>
        <li><a href="/{{ lang }}/#about">{{ translations.about }}</a></li>
        <li><a href="/{{ lang }}/#experiences">{{ translations.experiences }}</a></li>
        <li><a href="/{{ lang }}/#projects">{{ translations.project }}</a></li>
        <li><a href="{{ url_for('static', filename='resume/' + translations.resume_file + '.pdf') }}" target="_blank">{{ translations.resume }}</a></li>
      </ul>
      <div class="row-section">
        <div class="language-switcher"> <a href="/{{ 'zh' if lang == 'en' else 'en' }}/" id="{{ 'zh' if lang == 'en' else 'en' }}">{{ '中文' if lang == 'en' else 'EN' }}</a> </div>
        <div class="dropdown-menu">
          <button class="dropdown-btn">&#9776;</button>
          <div class="dropdown-content">
						<a href="/{{ lang }}/">{{ translations.home }}</a> 
						<a href="{{ url_for('static', filename='resume/' + translations.resume_file + '.pdf') }}" target="_blank">{{ translations.resume }}</a>
						<a href="/{{ lang }}/cs-isa" title="" class="{{ 'active' if current_page == 'cs-isa' else '' }}">CS ISA</a> 
						<a href="/{{ lang }}/web-developer" title="" class="{{ 'active' if current_page == 'website' else '' }}">Website Developer</a> 
						<a href="/{{ lang }}/pa-system" title="" class="{{ 'active' if current_page == 'sound-engineer' else '' }}">Public-Address System</a> 
						<a href="/{{ lang }}/electrical-engineer" title="" class="{{ 'active' if current_page == 'electrical-engineer' else '' }}">Electrical Engineer</a> 
						<a href="/{{ lang }}/visual-arts" title="" class="{{ 'active' if current_page == 'visual-arts' else '' }}">Visual Arts</a>
          </div>
      </div>
    </div>
  </nav>
  <div class="color-bar">
    <div class="color-block site-c1"></div>
    <div class="color-block site-c2"></div>
    <div class="color-block site-c3"></div>
    <div class="color-block site-c4"></div>
  </div>
  <div class="sub-nav">
    <ul>
      <li><a href="/{{ lang }}/cs-isa" title="" class="{{ 'active' if current_page == 'cs-isa' else '' }}">CS ISA</a></li>
      <li><a href="/{{ lang }}/web-developer" title="" class="{{ 'active' if current_page == 'website' else '' }}">Website Developer</a></li>
      <li><a href="/{{ lang }}/pa-system" title="" class="{{ 'active' if current_page == 'sound-engineer' else '' }}">Public-Address System</a></li>
      <li><a href="/{{ lang }}/electrical-engineer" title="" class="{{ 'active' if current_page == 'electrical-engineer' else '' }}">Electrical Engineer</a></li>
      <li><a href="/{{ lang }}/visual-arts" title="" class="{{ 'active' if current_page == 'visual-arts' else '' }}">Visual Arts</a></li>
    </ul>
  </div>
</header>
<div class="header-background"></div>
<div class="exp-page">
  <div class="content">
      <div class="column-section">
          <div class="canvas-container"> 
              <img src="{{ url_for('static', filename=translations.main_image) }}" alt="">
              <div class="canvas-overlay"></div>
              <div class="sub-title">
                  <p>{{ translations.title }}</p>
              </div>
          </div>
          <div class="description">
              <p>{{ translations.description }}</p>
              <blockquote>
                  <h2>"{{ translations.quote }}"</h2>
                  <small>- {{ translations.quote_author }}</small>
              </blockquote>
          </div>
          {% for section in translations.sections %}
          <div class="exp-section">
              <div class="exp-text">
                  <p class="exp-name">{{ section.exp_name }}</p>
                  <p class="exp-type">{{ section.exp_type }}</p>
                  <p class="exp-description">{{ section.exp_description }}</p>
                  <p></p>
                  <a class="transparent-button" href="{{ section.link_url }}" target="_blank">{{ section.link_text }}</a>
              </div>
              <div class="exp-img"> 
                  <img src="{{ url_for('static', filename=section.image) }}" alt="script_devlop"> 
              </div>
          </div>
          {% endfor %}
          <div class="images">
              {% for img in translations.images %}
              <div class="img-container margin-10"> 
                  <img src="{{ url_for('static', filename=img.src) }}" alt="{{ img.alt }}">
                  <p>{{ img.caption }}</p>
              </div>
              {% endfor %}
          </div>
          <div class="row-section">
              <div class="img-container"> 
                  <img src="{{ url_for('static', filename=translations.main_image) }}" alt="Main"> 
              </div>
          </div>
      </div>
  </div>
</div>
{% include 'footer' %}
<script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
<script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropdown_menu.js') }}"></script>
</body>
</html>
