@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



html, body {
	margin: 0;
  	padding: 0;
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.bold {
	font-weight: bold;
}

.page-title {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: black;
	text-align: center;
}

/* Header Settings */
header {
	 flex-shrink: 0;
	background-color: black;
}

nav {
	background-color: black;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: flex-end;
	padding: 10px 0;
	font-family: 'Roboto Condensed', sans-serif;
}

.logo-link {
	margin-right: 100px;
  	display: flex;
  	align-items: center;
}

.logo-link img {
	padding: 2px 0;
	max-width: 90px;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li:not(:last-child) {
	margin-right: 30px;
	}

nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

nav ul li a:hover {
	color: #fff;
	text-decoration: underline
}

.color-bar {
	display: flex;
}

/* personalize color */
/*
.site-c1 {
	flex: 1;
	height: 20px;
	background-color: #c8e6c9;
}

.site-c2 {
	flex: 1;
	height: 20px;
	background-color: #81c784;
}

.site-c3 {
	flex: 1;
	height: 20px;
	background-color: #388e3c;
	}

.site-c4 {
	flex: 1;
	height: 20px;
	background-color: #1b5e20;
}
*/

/* uwaterloo colors*/
.site-c1 {
  flex: 1;
  height: 20px;
  background-color: #fffaaa;
}

.site-c2 {
  flex: 1;
  height: 20px;
  background-color: #ffea30;
}

.site-c3 {
  flex: 1;
  height: 20px;
  background-color: #fdd54f;
}

.site-c4 {
  flex: 1;
  height: 20px;
  background-color: #e4b429;
}

/* Button Settings */

button {
	font-weight: bold;
	font-size: 16px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #444;
}


/* Index Settings */

.background-continer {
	position: relative;
	width: 100%;
	height: 100%;
	}

.background-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay {
	max-width: 800px;
	max-height: 200px;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	overflow: hidden;
	text-align: left;
	margin-bottom: 50px;
}

.title {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 20px;
}

.welcome {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #999;
	text-align: center;
	padding: 0 20px;
	line-height: 1.5;
}

/* About settings */
.content {
	flex-grow: 1;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	max-width: 1000px;
	margin: 10px auto;
}

.text {
	line-height: 1.5;
	flex: 1;
	padding: 20px;
}

.image-right {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.about-img{
	max-width: 500px;
}

/* Experiences Settings*/
.sub-nav {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	max-width: 1000px;
	margin: 10px auto;
}

.sub-nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sub-nav ul li:not(:last-child) {
	margin-right: 20px;
	}

.sub-nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Orbitron', sans-serif;
	font-size: 12px;
}

.sub-nav ul li a:hover {
	background-color: white;
	color: black;
	border-radius: 2px;
	height: 50px;
}

.sub-nav ul li a.active {
	background-color: white;
	color: black;
	border: 5px solid white;
	border-radius: 2px;
	height: 50px;
}

.experiences {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.experience {
	padding: 20px;
	border-bottom: 1px solid #ddd;
}

.experience h3 {
	margin-top: 0;
}

.experience p {
	margin-bottom: 0;
}

.experience-img{
	max-height: 250px;
}

.canvas-container {
	position: relative;
}

.canava{
	margin-top: -10px;
	max-width: 1000px;
}

.canvas-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 40%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.sub-title {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	font-size: 24px;
}

.two-img {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.img-container {
	width: calc(50% - 10px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-container img {
	width: 100%;
	margin-bottom: 10px;
}

.main-img {
	max-width: 1000px;
	margin-bottom: -10px;
}

.img-text {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}


/* Contact Information */

.contact {
	flex-grow: 1;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0px auto 40px auto;
}

.column-dis.left {
	flex: 1;
	margin-right: 120px;
}

.column-dis.left p {
	white-space: nowrap;
}

.column-dis.right {
	flex: 1;
	margin-left: 120px;
}

.row-dis {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}

.row-dis button {
	margin-right: 20px;
}

/* Footer Settings */
footer {
	flex-shrink: 0;
	position: relative;
	background-color: #000000;
    color: #737373;
	font-family: 'Roboto Condensed', sans-serif;
	bottom: 0;
}
  
.footer-content {
    background-color: black;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: flex-end;

}
  
.footer-content img {
    max-width: 120px;
	padding: 5px 0;
}
  
footer a {
	color: #ffffff;
    text-decoration: none;
}
  
.uwaterloo-link {
	margin-right: 50px;
    margin-top: 0px; 
}
