<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>{{ content.title }}</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="{{ content.description }}" name="description">
    <meta name="google" content="notranslate" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/icon.png">
    <link rel="icon" href="/icons/favicon.ico">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <link href="/css/site.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="menu">
                <a href="/" class="logo"><img src="/icons/logo.png" alt="Logo"></a>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">{{ content.home }}</a></li>
                    <li><a asp-controller="Home" asp-action="Index" href="~/#about">{{ content.about }}</a></li>
                    <li><a asp-controller="Home" asp-action="Index" href="~/#experiences">{{ content.experiences }}</a></li>
                    <li><a asp-controller="Home" asp-action="Index" href="~/#projects">{{ content.projects }}</a></li>
                    <li><a asp-controller="Resume" asp-action="Index" target="_blank">{{ content.resume }}</a></li>
                </ul>
                <div class="row-section">
                    <div class="language-switcher">
                        <a id="lang-switch" href="{{ url_for('switch_lang', lang='zh' if lang == 'en' else 'en', next=request.path) }}">{{ '中文' if lang == 'en' else 'EN' }}</a>
                    </div>
                    <div class="dropdown-menu">
                        <button class="dropdown-btn">&#9776;</button>
                        <div class="dropdown-content">
                            <a asp-controller="Home" asp-action="Index">{{ content.home }}</a>
                            <a asp-controller="Home" asp-action="Index" href="~/#about">{{ content.about }}</a>
                            <a asp-controller="Home" asp-action="Index" href="~/#experiences">{{ content.experiences }}</a>
                            <a asp-controller="Home" asp-action="Index" href="~/#projects">{{ content.projects }}</a>
                            <a asp-controller="Resume" asp-action="Index" target="_blank">{{ content.resume }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="color-bar">
            <div class="color-block site-c1"></div>
            <div class="color-block site-c2"></div>
            <div class="color-block site-c3"></div>
            <div class="color-block site-c4"></div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="footer-content">
            <div class="footer-address">
                <p>{{ content.address }}</p>
                <p>{{ content.tel }}</p>
                <p><a href="mailto:{{ content.email }}">{{ content.email }}</a></p>
            </div>
            <div class="footer-social">
                <div class="social-media">
                    <a href="https://github.com/LeEinsteinZhang" target="_blank"> <img src="/icons/github_w.png" alt="GitHub"> </a>
                    <a href="https://www.linkedin.com/in/uw-le-zhang" target="_blank"> <img src="/icons/linkedin_w.png" alt="LinkedIn"> </a>
                </div>
                <p>&copy; 2024 {{ content.author }}. {{ content.rights }}</p>
            </div>
        </div>
    </footer>

    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
