@model HomeViewModel

@{
    ViewBag.Discover = Model.Layout.Discover;
}

<partial name="_SlideShow" model="Model" />

<div class="main-page">
    <div class="content">
        <div id="about" class="title black section-offset">
            <p>@Model?.AboutMe</p>
        </div>
        <div class="row-section">
            <div class="column-section about-section">
                <h1>@Model?.Name</h1>
                <p>@Model?.AboutDescription</p>
                <p></p>
                <div class="logos-container">
                    <a href="https://uwaterloo.ca/" class="logo-link" target="_blank">
                        <img src="~/icons/uwaterloo-logo.png" alt="University of Waterloo Logo">
                    </a>
                    <a href="http://www.virtualphy.com" class="logo-link" target="_blank">
                        <img src="~/icons/vp_logo.png" alt="Virtual Physics">
                    </a>
                </div>
                <p></p>
                <h2>@Model?.Layout?.Experiences</h2>
                <p>@Model?.HighschoolExperience</p>
                <p></p>
                <h2>@Model?.InterestsAndAwards</h2>
                @if (Model?.Awards != null)
                {
                    foreach (var award in Model.Awards)
                    {
                        <p align="left">- @award</p>
                    }
                }
                <p></p>
                <a class="transparent-button" href="@Url.Content("~/resume/" + Model?.Layout?.ResumeFile + ".pdf")" target="_blank">@Model?.ResumeDownload</a>
            </div>
            <div id="about-img">
                <img src="@Url.Content("~/images/profil.jpg")">
            </div>
        </div>
        <div id="experiences" class="title black section-offset">
            <p>@Model?.Layout?.Experiences</p>
        </div>
        @if (Model?.ExperiencesSection != null)
        {
            ViewBag.OpenInNewTab = false;
            foreach (var jobExp in Model.ExperiencesSection)
            {
                <partial name="_ExpCard" model="jobExp" />
            }
        }
        <div id="projects" class="title black section-offset">
            <p>@Model?.Layout?.Projects</p>
        </div>
        @if (Model?.ProjectsSection != null)
        {
            ViewBag.OpenInNewTab = true;
            foreach (var project in Model.ProjectsSection)
            {
                <partial name="_ExpCard" model="project" />
            }
        }
    </div>
</div>
