@model HomeViewModel

<div id="home" class="section-offset">
    <div class="slide-container">
        <div class="background-slide">
            <img src="~/images/background_0.jpg" alt="Background">
        </div>
        <div class="background-slide">
            <img src="~/images/background_1.jpg" alt="Background">
        </div>
        <div class="background-slide">
            <img src="~/images/background_2.jpg" alt="Background">
        </div>
        <div class="overlay">
            <div class="title white">
                <p>@Model?.Description</p>
            </div>
            <div class="welcome">
                <p>@Model?.WelcomeMessage</p>
            </div>
        </div>
    </div>
</div>
