html {
	background-color: black;
	height: 100%;
	margin: 0;
  	padding: 0;
	scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* Main Structure */
.content {
	flex-grow: 1;
	font-family: 'Helvetica', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	width: 90vw;
	max-width: 1200px;
	margin: 0px auto;
	box-sizing: border-box;
}

.main-page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
    margin-bottom: 30px;
}

.about-section p, h1, h2 {
	margin: 5px 0;
	width: 80%;
}

.exp-page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.exp-section {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-direction: row;
	margin: 15px 0px;
}

.exp-text {
	display: flex;
	flex-direction: column;
	width: 60%
}

.exp-name {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	color: black;
	width: 100%;
}

.exp-type {
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	color: black;
	width: 85%;
}

.exp-description {
	margin: 5px 0px 0px 0px;
	font-size: 16px;
	color: black;
	width: 85%;
}

.exp-img {
	width: 40%;
}

.exp-img img {
	width: 100%;
}

.column-section {
	display: flex;
	flex-direction: column;
}

.row-section {
	display: flex;
	flex-direction: row;
}

.contact {
	display: flex;
	flex-direction: row;
}

.description {
	display: flex;
	flex-direction: row;
}

.description p , .description blockquote {
	display: flex;
	flex-direction: column;
}

.description p {
	flex: 5;
}

.description blockquote {
	flex: 4;
}

.images {
	display: flex;
	flex-direction: row;
}

.section-offset {
    padding-top: 60px;
    margin-top: -60px;
}


#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#contact {
	display: flex;
	flex-direction: row;
}

#about-img img {
	max-height: 80vh;
	object-fit: contain;
}
/* language */
.language-switcher {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.language-switcher a {
    text-decoration: none;
    color: #555;
    padding: 0 10px;
}

.language-switcher a:hover {
    text-decoration: underline;
}

.margin-10 {
	margin: 10px;
}

.margin-left-3em {
	margin-left: 3em;
}

.margin-right-3em {
	margin-right: 3em;
}

.bold {
	font-weight: bold;
}

/* Slide Show */
.slide-container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.background-slide {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: opacity 1s;
}

.background-slide img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.overlay {
	position: absolute;
	max-width: 800px;
	max-height: 200px;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	overflow: hidden;
	text-align: left;
	margin-bottom: 50px;
}

.indicator-area{
   position: absolute;
   bottom: 15px;
   left: 50%;
   transform:translate(-50%, -50%);
}

.indicator-area span{
   display: block;
   width: 20px;
   height: 20px;
   border-bottom:1px solid #fff;
   border-right:1px solid #fff;
   transform: rotate(45deg);
   animation:animate 2s infinite;
   margin: -10px;
}

.indicator-area span:nth-child(2){
   animation-delay:-0.2s;
}

.indicator-area span:nth-child(3){
   animation-delay:-0.4s;
}

@keyframes animate{
   0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
   }
   50%{
      opacity: 1;
   }
   100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
   }
}

.welcome {
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;
	color: #999;
	text-align: center;
	padding: 0 20px;
	line-height: 1.5;
}

/* Header Settings */
header {
	width: 100%;
	flex-shrink: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.header-background {
	position:relative;
	background-color: #000000;
	height: 100px;
}

.logo {
	display: flex;
	align-items: flex-start;
	transition: border 0.3s ease;
	border: 1px solid transparent;
}

.logo img {
	height: 40px;
	width: auto;
}

.logo:hover {
	border: 1px solid white;
}

/* Header Settings - Nav Bar*/
nav {
	background-color: rgba(0, 0, 0);
	display: flex;
	justify-content: center;
	position: relative;
	align-items: flex-end;
	padding: 10px 0;
	font-family: 'Helvetica', sans-serif;
}

.menu {
	display: flex;
	font-family: 'Helvetica', sans-serif;
	margin-bottom: 0;
	position: relative;
	transition: .2s;
    width: 90vw;
	max-width: 1200px;
	align-items: center;
	justify-content: space-between;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li:not(:last-child) {
	margin-right: 30px;
}

nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

nav ul li a:hover {
	color: #fff;
	text-decoration: underline
}

/* Header Settings - Sub Nav Bar*/
.sub-nav {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	max-width: 1000px;
	margin: 10px auto;
}

.sub-nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sub-nav ul li:not(:last-child) {
	margin-right: 20px;
}

.sub-nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Helvetica', sans-serif;
	font-size: 12px;
}

.sub-nav ul li a:hover {
	background-color: white;
	color: black;
	border-radius: 2px;
	height: 50px;
}

.sub-nav ul li a.active {
	background-color: white;
	color: black;
	border: 5px solid white;
	border-radius: 2px;
	height: 50px;
}

/* Header Settings - Color Bar */
.color-bar {
	display: flex;
}

.color-block {
	flex: 1;
	height: 15px;
}

/* Experiences Settings*/
.canvas-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 40%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.canvas-container {
	position: relative;
}

.canvas-container img {
	width: 100%;
}

.img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-container img {
	width: 100%;
}

/* Footer Settings */
footer {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
	font-size: 12px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer a {
	color: #81c784;
    text-decoration: none;
}

.footer-content {
    background-color: black;
	display: flex;
	position: relative;
    justify-content: space-evenly;
    width: 90vw;
	max-width: 1200px;
}

.footer-address {
    flex: 1;
    text-align: left;
}

.footer-address p {
    margin: 0;
}

.footer-address a:hover {
    text-decoration: underline;
}

.footer-menu {
    flex: 1;
    /* 使内容居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-social p {
    margin: 0px;
    margin-top: 5px;
}

.footer-social {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.social-media {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

.social-media img {
    max-height: 30px;
    margin-left: 15px;
}

.social-media img:hover {
	filter: brightness(0) saturate(100%) invert(46%) sepia(49%) saturate(1111%) hue-rotate(88deg) brightness(97%) contrast(84%);
}

.logos-container {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.logo-link {
	transition: border 0.3s ease;
    border: 1px solid transparent;
}

.logo-link img {
    width: min(150px, 25vw);
}

.logo-link:hover {
	border: 1px solid black;
}

/* Button Settings */
.transparent-button {
    align-self: flex-start;
    background-color: transparent;
    color: black;
	font-size: 16px;
	font-weight: bold;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.transparent-button:hover {
    background-color: rgba(230,230,230,1.00);
    border: 1px solid rgba(230,230,230,1.00);
}

/* Text Settings */
.title {
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	margin: 0px auto;
}

.sub-title {
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	font-size: 24px;
}

/* Colors */

.white {
	color: white;
}

.black {
	color: black;
}

.grey {
	color: #999;
}

/* Color Settings */
.uw-c1 {
	background-color: #fffaaa;
}

.uw-c2 {
	background-color: #ffea30;
}

.uw-c3 {
	background-color: #fdd54f;
}

.uw-c4 {
	background-color: #e4b429;
}

.site-c1 {
	background-color: #c8e6c9;
}

.site-c2 {
	background-color: #81c784;
}

.site-c3 {
	background-color: #388e3c;
}

.site-c4 {
	background-color: #1b5e20;
}

/* 隐藏移动端下拉菜单 */
.dropdown-menu {
	display: none;
}

.dropdown-btn {
	display: none;
	background-color: black;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	padding: 10px;
}

.dropdown-content {
	display: none;
	background-color: #f1f1f1;
	right: 0;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	}

.dropdown-content a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

#phone {
	display: none;
}

/* profile */
.profile-page {
	font-family: 'Helvetica', sans-serif;
    flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: min(90vw, 1200px);
	margin: 0px auto;
	box-sizing: border-box;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
}

.profile-picture {
    width: 20%;
}

.profile-picture img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.profile-info {
    width: 70%;
    margin-left: 40px;
}

.profile-name p {
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.profile-description p {
    font-size: 20px;
     font-family: 'Helvetica', sans-serif;
    margin-top: -30px;
}

.accordion-group {
    width: 100%;
    flex-direction: column;
    margin-top: 10vh;
}

.accordion {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 10px; /* 减少下边距 */
    overflow: hidden; /* 防止内容在动画过程中溢出 */
}

.accordion:last-child {
    margin-bottom: 20px; /* 仅对非最后一个元素增加下边距 */
}

.accordion-header {
    cursor: pointer;
    padding: 8px 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    display: block;
    max-height: 1000px; /* 初始的最大高度足以容纳内容 */
    transition: max-height 0.3s ease-in-out; /* 添加过渡动画 */
    padding: 5px 10px;
}

.arrow {
    transition: transform 0.3s;
}

.arrow.up {
    transform: rotate(-180deg);
}


/* 移动端适配 */
@media screen and (max-width : 475px ){	
	.exp-page {
		margin-top: 65px;
	}

	.content {
		margin: auto 0.1vw;
	}
	
	#contact {
		flex-direction: column;
		min-height: 300px;
	}

	#contact .column-section:first-child {
		margin-right: 0; /* Adjust this value as needed */
	}
	
	#contact .column-section:last-child {
		margin-left: 0; /* Adjust this value as needed */
	}

	.dropdown-menu {
		position: relative;
		display: block;
	}
	
	.dropdown-content {
		position: absolute;
	}

	.dropdown-btn {
		display: block;
	}

	nav ul, .sub-nav, .sub-nav ul {
		display: none;
	}
	
	.color-block {
		height: 10px;
	}

	body {
		font-size: 12px;
	}
	
	.title {
		font-size: 24px;
	}
	
	.sub-title {
		font-size: 16px;
	}

	.overlay {
		transform: translate(-50%, -50%);
		bottom: 0;
		margin-bottom: 10px;
	}

	.welcome {
		font-size: 12px;
	}
	
	#about-img {
		display: none;
	}

	.job-img {
		display: none;
	}
	
	.images {
		flex-direction: column;
	}

	.description {
		flex-direction: column;
	}
	
	.description blockquote{
		margin: 0px auto;
	}

	button {
		font-size: 12px;
		padding: 10px 10px;
	}
	
	.social-media img {
		max-height: 24px;

	}
	
    .profile {
        flex-direction: column;
    }
    
    .profile-picture {
        width: 100%;
    }
    
    .profile-info {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
